[Unit]
Description="Service for rpi video stream autostart"

[Service]
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/sender
# optional items below
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target