[Unit]
Description="Service for arduino-rpi serial autostart"

[Service]
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/breeze
# optional items below
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target